<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1008869088846-pco85hikp1hnihs6lp6s03aohjkdeqd7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9ibudubKoD6vr45HaY9EUxG7BLeLwM0I</string>
	<key>GCM_SENDER_ID</key>
	<string>1008869088846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Neighbrsnooks.com</string>
	<key>PROJECT_ID</key>
	<string>neighbrsnook-20eef</string>
	<key>STORAGE_BUCKET</key>
	<string>neighbrsnook-20eef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008869088846:ios:4bd052ef29df044498ed1f</string>
</dict>
</plist>